@font-face {
    font-family: 'Roboto_Light';
    src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto_Regular';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto_CondensedMedium';
    src: url('/fonts/RobotoCondensed-Medium.ttf');
}

@font-face {
    font-family: 'Roboto_Medium';
    src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto_SemiBold';
    src: url('/fonts/Roboto-SemiBold.ttf');
}

@font-face {
    font-family: 'Roboto_CondensedSemiBold';
    src: url('/fonts/RobotoCondensed-SemiBold.ttf');
}

@font-face {
    font-family: 'Roboto_Bold';
    src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto_CondensedBold';
    src: url('/fonts/RobotoCondensed-Bold.ttf');
}



@font-face {
    font-family: 'Montserrat_Medium';
    src: url('/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat_SemiBold';
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat_Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}