body {
    color: var(--font-primary);
    background-color: var(--bg-primary);
    padding-bottom: 48px;
}

main {
    margin-top: 72px;
}

.main-container {
    display: flex;
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    padding-top: 48px;
    box-sizing: content-box;
    padding-inline:30px;
}

@media (max-width:1160px) {
    .main-container {
        padding-inline: 0px;
    }
}

@media (max-width:500px) {
    .main-container {
        padding-top: 32px;
    }
}