/* * {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
} */

:root {
   /* Статические */
   --hdr-primary: #161616;

   /* Фон */
   --bg-primary: #121212;
   --bg-secondary: rgb(31, 31, 31); /* задний фон для карточек */
   --bg-secondary-hover: rgb(28, 28, 28);
   --bg-secondary-border: rgb(37, 37, 37);
   --bg-tertiary: #181818; /* Задний фон для контейнер */;
   --bg-muted: ;

   --color-white: #FFF;
   --color-gray-100: #C7C7C7;
   --color-gray-200: #A4A4A4;
   --color-gray-300: #868686;
   --color-gray-400: #666666;
   --color-gray-500: #444444;
   --color-gray-600: #333333;

   --color-black: #000;
   --color-dark-100: #1C1C1C;
   --color-dark-200: #1F1F1F;
   --color-dark-300: #282828;
   --color-dark-400: #252525;
   --color-dark-500: #222222;

   --color-dark-slate: #252A2D;
   --color-dark-slate-hover: #2c3235;

   --color-blue: #006FFF;
   --color-blue-hover: #0051FF;
   --color-red: #FF0037;
   --color-green: #44986a;
   --color-green-hover: #428d64;

   /* Динамические */

   /* Поля */
   --input-1-bg: #191919;
   --input-1-border: #202020;
   --input-2-bg: rgb(32,32,32);
   --input-2-border: rgb(40,40,40);

   /* Кнопки */
   --btn-category: rgb(40, 40, 40);
   --slider-category: #222222;

   /* Временные потом уберу */

   --viewToggle-btn: rgba(40, 40, 40);
   --viewToggle-btn-hover: rgba(48, 48, 48);

   /* Текст */
   --text-primary: #FFFFFF;    /* Заголовки, основной текст */
   --text-primary-r: #000;
   --text-secondary: rgb(199, 199, 199);  /* Подзаголовки, имена */
   --text-tertiary: rgb(164, 164, 164);   /* Второстепенный текст */
   --text-muted: rgb(134, 134, 134);      /* Вспомогательный текст (даты, подписи) */
   --text-quaternary: rgb(102, 102, 102); 

   --pagination-btn: #252525;

   /* Рейтинг/оценка */

   --rating-color1: #FF0037;
   
   --gp-4: 4px;
   --gp-6: 6px;
   --gp-8: 8px;
   --gp-10: 10px;
   --gp-12: 12px;
   --gp-16: 16px;
   --gp-20: 20px;
   --gp-24: 24px;
   --gp-32: 32px;
   --gp-36: 36px;
   --gp-48: 48px;

}

[data-theme="light"] {

   /* Временные */

   --viewToggle-btn: rgb(150, 150, 150);
   --viewToggle-btn-hover: rgba(134, 134, 134);

   /*  */

   --input-1-bg: #fff;
   --input-1-border: #D7D7D7;
   --input-2-bg: #fff;
   --input-2-border: #D7D7D7;

   --btn-category: rgb(225, 225, 225);

   --bg-primary: rgb(225, 225, 225);
   --bg-secondary: #fff;
   --bg-secondary-hover: rgb(245, 245, 245); 
   --bg-secondary-border: #D7D7D7;
   --bg-tertiary: rgb(243, 243, 243);
   --bg-muted: ;

   --text-primary: #000;    
   --text-primary-r: #FFF;
   --text-secondary: rgb(102, 102, 102);  
   --text-tertiary: rgb(119, 119, 119);  
   --text-muted: rgb(134, 134, 134);  
   --text-quaternary: rgb(119, 119, 119); 

   /* Рейтинг/оценка */

   --rating-color1: #44986a;

   --slider-category: #fff;

   --pagination-btn: rgba(228,228,228);
}

a {
   color: #FFF;
}

.flex {
   display: flex;
}

.align-c {
   align-items: center;
}

.justify-c {
   justify-content: center;
}

.justify-sb {
   justify-content: space-between;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.hidden {
   display: none;
}

.no-border {
   background: transparent;
   border: none;
   outline: none;
   color: var(--color-white);
   padding: 0;
   margin: 0;
}

hr {
    border: none;
    height: 2px;
    background: var(--bg-secondary-border);
    margin: 1px 0;
}
