:root {
   --font-secondary: #006FFF;
   --font-primary: #FFF;
   --font-primary-75: rgb(191, 191, 191);
   --font-primary-50: rgb(128, 128, 128);
   --font-primary-35: rgb(89, 89, 89);
   --hdr-primary: #0A0D10;
   --bg-primary: #061317;
   --bg-secondary-25: rgba(50, 50, 50, 0.25);
   --bg-secondary-50: rgba(50, 50, 50, 0.5);
   --bg-secondary: rgba(50, 50, 50, 1);
   --bg-third-25: rgba(31, 41, 51, 0.25);

   --gp-8: 8px;
   --gp-12: 12px;
   --gp-16: 16px;
   --gp-20: 20px;
   --gp-24: 24px;
   --gp-32: 32px;
   --gp-48: 48px;
}

a {
    color: #FFF;
}

h1 {
   font-size: 36px;
}

 .flex {
    display: flex;
 }

 .align-c {
    align-items: center;
 }

 .justify-c {
    justify-content: center;
 }

 .justify-sb {
    justify-content: space-between;
 }

 .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .flex-column {
   display: flex;
   flex-direction: column;
 }

 .hidden {
  display: none;
 }

 .no-border {
   background: transparent;
   border: none;
   outline: none;
   color: var(--font-primary);
}

